.about {
  display: flex;
  flex-direction: column;
}

#about-team-photos {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin-bottom: 2em;
  margin-top: 5em;
}

.about-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  width: 50em;
  font-size: 20px;
}

.about-body-container {
  color: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-body-line {
  margin-top: 0.2em;
}

@media screen and (max-width: 800px) {
  #about-team-photos {
    flex-direction: column;
    gap: 2em;
  }
  .about-body {
    margin-top: 6em;
    width: 20em;
  }
}

@media screen and (min-width: 800px) and (max-width: 860px) {
  #about-team-photos {
    gap: 1em;
  }
  .about-body {
    margin-top: 6em;
    width: 30em;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  #about-team-photos {
    gap: 2em;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1350px) {
  #about-team-photos {
    gap: 4em;
  }
  .about-body {
    font-size: 20px;
  }
}

@media screen and (min-width: 1350px) {
  #about-team-photos {
    gap: 4em;
  }
  .about-body {
    font-size: 25px;
  }
}
