.about {
  display: flex;
  flex-direction: column;
}

#about-team-photos {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin-bottom: 2em;
  margin-top: 5em;
}

.about-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  width: 50em;
  font-size: 20px;
}

.about-body-container {
  color: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-body-line {
  margin-top: 0.2em;
}
