.blogs {
  display: flex;
  justify-content: space-evenly;
}

.title {
  padding-top: 0.5em;
  padding-left: 1em;
  color: #6b6b6b;
}

#postlink {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 800px) {
  .blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
