#contact-title {
  color: rgb(79, 79, 79);
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5em;
  padding-top: 8em;
}

.message {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.message-form {
  width: 25em;
  height: 8em;
  border-radius: 2%;
  font-family: "Raleway", sans-serif;
  border: 2px solid rgb(126, 126, 126);
  border-radius: 0.5em;
}

.form-control {
  margin-top: 1em;
  height: 2.5em;
  width: 25em;
  border-radius: 0.5em;
  border: 2px solid rgb(126, 126, 126);
}

input::placeholder {
  padding-left: 0.3em;
}

textarea::placeholder {
  padding-left: 0.3em;
  padding-top: 0.3em;
}

.submit-button {
  width: 100%;
}

.contactus-form {
  margin-top: 1em;
}

.contact-copy {
  width: 14em;
}
