.specialty-container {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
}
.slideshow {
  display: flex;
  align-items: center;
}

.specialize {
  margin-bottom: 1.2em;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 67px;
  text-align: center;

  color: #6b6b6b;
}

.carousel .slide .legend {
  bottom: 165px;
}

.text {
  position: absolute;
  bottom: 7em;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.nft {
  position: absolute;
  bottom: 7em;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.market {
  position: absolute;
  bottom: 7em;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.web {
  position: absolute;
  bottom: 6em;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .sw-container {
    margin-left: 0.2em;
    margin-right: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .specialize {
    margin-bottom: 1.2em;
    font-size: 2em;
  }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  .sw-container {
    margin-left: 0.4em;
    margin-right: 0.4em;
  }
  .specialize {
    margin-bottom: 1.2em;

    font-size: 2em;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .sw-container {
    margin-left: 3em;
    margin-right: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .specialize {
    margin-bottom: 1.2em;

    font-size: 3em;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .sw-container {
    margin-left: 6em;
    margin-right: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .specialize {
    margin-bottom: 1.2em;

    font-size: 3em;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .sw-container {
    margin-left: 9em;
    margin-right: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .specialize {
    margin-bottom: 1.2em;

    font-size: 3em;
  }
}

@media screen and (min-width: 1600px) {
  .sw-container {
    margin-left: 15em;
    margin-right: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .specialize {
    margin-bottom: 1.2em;

    font-size: 3em;
  }
}
