#team-photos {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

#text {
  margin-bottom: 1.5em;
  margin-top: 4em;
  padding-left: 2em;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 67px;

  color: #858585;
}
